#about-section {
    padding: 100px 0;
    background-color: #f6f6f6;
    h3 {
        border-bottom: 1px solid #b8dea2;
        padding-bottom: 20px;
        display: inline-block;
    }
    p {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}