#section-nosotros {
    .first-section-title {
        background: url(../../assets/images/bgred-min.jpg);
        text-align: center;
        padding: 30px 0px;
        h2 {
            font-family: "Playfair Display", serif;
            color: #ffff;
            text-decoration-line: underline;
            text-decoration-color: #C48A46;
            text-decoration-thickness: 10px;
            text-underline-offset: 5px;
            text-underline-offset: 10px;
            line-height: 1.6;
        }
    }
    .video-container {
        padding: 25px 0px;
        iframe {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
        }
    }
    .info-container {
        padding: 50px 0px;
        .first-text {
            text-align: justify;
            font-size: clamp(1rem, 10vw, 1.1rem);
            text-indent: 10px;
        }
        .second-text {
            p {
                font-size: clamp(1rem, 10vw, 1.2rem);
            }
        }
        .third-text {
            h5 {
                text-transform: uppercase;
                margin-bottom: 20px;
            }
        }
        .section-title {
            padding-top: 20px;
            padding-bottom: 20px;
            h3 {
                text-transform: uppercase;
                text-align: center;
                padding-bottom: 30px;
                font-weight: bold;
            }
        }
    }
}
