@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:wght@400;500;600;700&display=swap");

$color-red: #911D1C;

html,
body {
    text-rendering: optimizeLegibility !important;
    background: url(./assets/images/dust.jpg);
}

h1 {
    font-family: "Playfair Display", serif;
}

h2,
h3,
h4,
h5,
p {
    font-family: "Open Sans", sans-serif;
}

hr {
    height: 2px;
    width: 60px;
    background-color: red;
    position: relative;
    border: 0;
    margin: 30px 0 0;
    opacity: 1;
}

.section-title {
    padding-bottom: 50px;
}

.underline {
    text-decoration-line: underline;
    text-decoration-color: #e6ab67;
    text-decoration-thickness: 10px;
    text-underline-offset: 10px;
    line-height: 1.6;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: white;
    //background-color: rgba(230, 171, 103, 1);
    background-color: #bd403a;
    padding: 8px 0px;
    text-transform: uppercase;
}
.sub-titulo {
    text-transform: uppercase;
    padding: 5px 0px;
    font-family: "Playfair Display", serif;
    color: rgba(255, 136, 0, 0.8);
    text-decoration-line: underline;
    text-decoration-color: rgba(165, 33, 31, 1);
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}